.loading {
    background-color: #ffffff;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGI9AG2lCcy7Rmz9Mw09SQuJVnjs4useug0Q&s");
    background-size: 25px 25px;
    background-position: 97% center;
    background-repeat: no-repeat;
  }